@font-face {
  font-family: Whitney;
  src: url("./files/w300.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: Whitney;
  src: url("./files/w400.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: Whitney;
  src: url("./files/w500.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: Whitney;
  src: url("./files/w600.woff") format("woff");
  font-weight: 600;
}

* {
  font-family: Whitney;
  font-weight: 400;
  margin: 0;
  padding: 0;
  outline: none;
}

h1 {
  font-size: 30px;
  color: white;
}

h2, li {
  font-size: 20px;
  color: #829A9C;
}

h3 {
  font-size: 17px;
  color: #829A9C;
}

h1 a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

a {
  color: cornflowerblue;
  text-decoration: none;
  font-weight: 600;
  text-decoration: underline;
  font-weight: 400;
}

body {
  background-color: #24292E;
  display: flex;
}

header {
  background-color: #21252B;
  margin: 0;
  border-right: solid 1px #1F2228;
  position: relative;
  min-width: 300px;
  padding-left: 150px;
  position: fixed;
  height: 100%;
}

header h1 {
  color: white;
  font-weight: 600;
  font-size: 40px;
  margin: 10px 20px 0px 20px;
}

header h3 {
  color: white;
  font-weight: 300;
  font-size: 23px;
  margin: 30px 20px 10px 20px;
}

.select_div {
  display: inline-block;
}

.select_div select {
  background-color: #24292E;
  border: none;
  -webkit-appearance: none;
  color: white;
  border-radius: 5px;
  padding: 0 40px 0 10px;
  transform: translateY(-2px);
  height: 33px;
}

.select_div::before {
  position: relative;
  content: "";
  top: 14px;
  left: calc(102% - 27px);
  border: 6px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-color: #fff transparent transparent transparent;
  z-index: 1;
}

#content {
  margin-left: 451px;
  width: 100%;
}

#items {
  width: 90%;
}

#search_area {
  border-bottom: solid 1px #1F2228;
}

#search {
  margin: 20px;
  filter: brightness(125%);
  font-size: 20px;
  border: none;
  color: white;
  background-color: #24292E;
  padding: 10px 0 10px 20px;
  border-radius: 10px;
  width: 300px;
  outline: none;
}

article {
  display: inline-block;
  background-color: #2D333A;
  color: #829A9C;
  text-align: center;
  margin: 20px;
  padding: 10px;
  width: 225px;
  position: relative;
  transition: all .25s;
  cursor: pointer;
}

article:hover {
  filter: brightness(110%);
  transform: translateY(-5px);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.25);
}

article>* {
  margin-top: 5px;
}

article>img {
  height: 125px;
  width: 125px;
  filter: drop-shadow(9px 11px 7px rgba(0, 0, 0, .125));
}

article h2, article h3, article h4 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

article h2 {
  color: white;
  font-size: 20px;
  width: 85%;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
}

article h3 img {
  height: 20px;
  vertical-align: bottom;
  filter: drop-shadow(9px 11px 7px rgba(0, 0, 0, .125));
}

article h4 {
  font-size: 16px;
  font-size: larger;
}

.extra {
  height: 69px;
  width: 69px;
  overflow: hidden;
  position: absolute;
  top: 65px;
  right: 20px;
}

.extra img {
  height: 100%;
}

.none {
  opacity: 0;
  pointer-events: none;
}

#window {
  box-shadow: 0 0 40px -15px black;
  background: #24292E;
  height: 75%;
  width: 45%;
  margin-top: calc(25% / 4);
  margin-left: 25%;
  overflow: auto;
  padding: 2%;
  padding-right: 4%;
  margin-left: auto;
  margin-right: auto;
  transition: transform .5s, opacity .125s;
}

#shadow {
  background: #0000006e;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  transition: all .25s;
}

.none #window {
  /* transform: scale(2); */
}

.clicked {
  /* overflow: hidden;
  height: calc(100vh - 87px); */
}

#back {
  color: #829A9C;
  background-color: #21252B;
  cursor: pointer;
  padding: 7px 15px;
  display: inline-flex;
  border-radius: 7px;
  user-select: none;
}

#back:hover {
  filter: brightness(96%);
}

#window>div {
  margin-top: calc(69px - 5%);
}

#product {
  display: flex;
  color: white;
}

#product>* {
  margin-left: auto;
  margin-right: auto;
  max-width: 37%;
}

#product #product_img {
  height: 150px;
  width: 150px;
}

#product_content img, #product_price img {
  height: 28px;
  width: auto;
  vertical-align: bottom;
  filter: drop-shadow(9px 11px 7px rgba(0, 0, 0, .125));
}


#seller {
  display: flex;
  margin-bottom: 69px;
}

#frame_div {
  margin-left: auto;
}

#frame {
  border: none;
  height: 100%;
}
